body
{
    background-color: black;
}
h1
{
    font-size: 64px;
    color: black;
    font-family: 'Lobster', cursive;
    text-align: center;
    letter-spacing: 3px;
}
h2
{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    letter-spacing: 3px;
}
h3
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 3px;
}
.Work
{
    align-content: center;
    position: relative;
}
p
{
    font-size: 20px;
    font-style: italic;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Map
{
    text-align: center;
}
.Intro
{
    background-color:whitesmoke;
}
.Work
{
    text-align: center;
}
.Kids
{
    text-align: center;  
}
.Woman
{
    text-align: center;
}
.Animals
{
    text-align: center;
}
.SpareTime
{
    text-align: center;
}
